<button mat-icon-button 
        [matMenuTriggerFor]="notificacionesMenu"
        class="notificaciones-btn">
  <mat-icon 
    [matBadge]="countNoLeidas" 
    [matBadgeHidden]="countNoLeidas === 0"
    matBadgeColor="warn"
    matBadgeSize="small">
    notifications
  </mat-icon>
</button>

<mat-menu #notificacionesMenu="matMenu" class="notificaciones-menu" xPosition="before">
  <div class="notificaciones-header" (click)="$event.stopPropagation()">
    <h3>Notificaciones</h3>
    <button mat-button 
            *ngIf="countNoLeidas > 0"
            (click)="marcarTodasComoLeidas()"
            class="btn-marcar-leidas">
      <mat-icon>done_all</mat-icon>
      Marcar todas
    </button>
  </div>

  <div class="notificaciones-lista">
    <div *ngFor="let notif of notificaciones" 
         class="notificacion-item"
         [class.no-leida]="!notif.leida"
         (click)="verNotificacion(notif)">
      
      <div class="notif-icon" [style.background-color]="notif.color">
        <mat-icon>{{ notif.icon }}</mat-icon>
      </div>

      <div class="notif-content">
        <h4>{{ notif.titulo }}</h4>
        <p>{{ notif.mensaje }}</p>
        <small>{{ getTimeAgo(notif.fecha) }}</small>
      </div>

      <button mat-icon-button 
              (click)="eliminarNotificacion($event, notif.id)"
              class="btn-eliminar">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div *ngIf="notificaciones.length === 0" class="notificaciones-vacias">
      <mat-icon>notifications_none</mat-icon>
      <p>No hay notificaciones</p>
    </div>
  </div>

  <div class="notificaciones-footer" (click)="$event.stopPropagation()">
    <button mat-button color="primary">
      Ver todas las notificaciones
    </button>
  </div>
</mat-menu>